.wrapper {
	letter-spacing: 2px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, 
.col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, 
.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, 
.col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, 
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, 
.col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0; 
    padding-left: 0;
}
.myAnimate {
	stroke-dasharray:10000;
	stroke-dashoffset:10000;
	animation: dash 25s linear forwards;
	transition: stroke 1s ease-in;
	stroke:"#00ff00";
}

@keyframes dash {
	100%{
			
			stroke-dashoffset:0;
		}
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
	border-radius: 0;
	height: 90px;
	margin-bottom: 0;
}
.navbar a {
	color: #9d9d9d;
	font-size: 1.5em;
	letter-spacing: 0;
	text-decoration: none;
}

.navbar .btn {
	color: white;
	font-size: 32px;
	margin: 0 20px 15px 20px;
	padding-bottom: 0;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 100%}

#landing {
	background-image: url("/assets/images/zombieLoginBG.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-block-end: 20%;
}

#login {
	font-family: 'Creepster', cursive;
}

label {
	color: white;
}

.modal-header {
	border-bottom: 1px solid greenyellow;
	font-family: 'Creepster', cursive;
}

.modal-footer {
	border-top: 1px solid greenyellow;
}

.modal-content {
	background-color: black;
	color: #be1313;
	letter-spacing: 0;
}

form input {
	font-family: sans-serif;
}

#timer {
	color: white;
	font-size: 42px;
}

#controller {
	display: block;
	padding-top: 10px;
}

/* stats css */

#stats {
	background-image: url("/assets/images/zombieBG.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -120px;
	background-color: black;
	color: #be1313;
	font-family: 'Creepster', cursive;
	font-size: 1.5em;
	font-weight: 600;
}

.well {
	background-color: transparent;
	border-color: transparent;
	margin-bottom: 0px;
	margin-top: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.well h3 {
	margin-bottom: 13px;
	margin-top: 13px;
}

.well a {
	margin-top: 20px;
}

.panel {
	background-color: black;
	border-color: yellowgreen;
	margin-bottom: 10px;
}

.table {
    border-bottom:0px !important;
}

.table th, .table td {
    border: 1px !important;
}

.fixed-table-container {
    border:0px !important;
}

th {
	text-align: center;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {padding: 0;}

/* end stats css */

#main-content {
	padding: 20px;
}

.card {
	background-color: black;
	padding: 47% 0;
	margin-bottom: 5%;
	
}
.card-8 {
	background-color: black;
	display: inline-block;
	margin: 0 1%;
	margin-bottom: 2%;
	padding: 13% 0;
	width: 20%;
}

.card-12 {
	background-color: black;
	display: inline-block;
	margin: 0 1%;
	margin-bottom: 1%;
	padding: 12% 0;
	width: 18%;
}

/*---------------------------------------------------------------*/
/* CSS class definition for """flicker"""; The UX for start game */
.flicker {
	animation-name: cardFlicker;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

@keyframes cardFlicker {
	0%   {background-color: black;}
	30%  {background-color: ghostwhite;}
	100% {background-color: black;}
}
/*---------------------------------------------------------------*/

@keyframes resonantVibration {
	0% {top:-22vh;left:4vw;opacity:0.05;}
	50% {top:-18vh;left:2vw;opacity:0.05;}
	100% {top:-22vh;left:4vw;opacity:0.05;}
}
.wrapperAnimation {
	position:absolute;
	z-index:-1;
	top: 52px;
	min-height: calc(100vh - 52px);
	width:100vw;
	overflow:hidden;
}
.goodVibration {
	position:absolute;
	top:-20vh;
	text-align: center;
	color:black;
	opacity:0.3;
	font-size: 30em;
	font-weight: bolder;
	animation-name: resonantVibration;
	animation-duration: 12s;
	animation-iteration-count: infinite;
	z-index:-1;
}
.redText{
	color:red;
	
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
	height: auto;
	padding: 15px;
}

.row.content {height:auto;} 
}