/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 100%}

#login {
	margin: 10% auto;
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}

.well {
	padding-bottom: 0;
	padding-top: 0;
}

#main-content {
	padding: 20px;
}

.card {
	background-color: black;
	padding: 47% 0;
	margin-bottom: 5%;
	
}
.card-8 {
	background-color: black;
	display: inline-block;
	margin: 0 1%;
	margin-bottom: 2%;
	padding: 13% 0;
	width: 20%;
}

.card-12 {
	background-color: black;
	display: inline-block;
	margin: 0 1%;
	margin-bottom: 1%;
	padding: 12% 0;
	width: 18%;
}

/*---------------------------------------------------------------*/
/* CSS class definition for """flicker"""; The UX for start game */
.flicker {
	animation-name: cardFlicker;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

@keyframes cardFlicker {
	0%   {background-color: black;}
	30%  {background-color: ghostwhite;}
	100% {background-color: black;}
}
/*---------------------------------------------------------------*/

@keyframes resonantVibration {
	0% {top:-22vh;left:4vw;opacity:0.05;}
	50% {top:-18vh;left:2vw;opacity:0.05;}
	100% {top:-22vh;left:4vw;opacity:0.05;}
}
.wrapperAnimation {
	position:absolute;
	z-index:-1;
	top: 52px;
	min-height: calc(100vh - 52px);
	width:100vw;
	overflow:hidden;
}
.goodVibration {
	position:absolute;
	top:-20vh;
	text-align: center;
	color:black;
	opacity:0.3;
	font-size: 30em;
	font-weight: bolder;
	animation-name: resonantVibration;
	animation-duration: 12s;
	animation-iteration-count: infinite;
	z-index:-1;
}
.redText{
	color:red;
	
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
	height: auto;
	padding: 15px;
}

.row.content {height:auto;} 
}

